* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: 'Arial Narrow', Arial, sans-serif;
}

/* ---end--- */

/* ====loader----*/

.loader_start {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  background: linear-gradient(to top, #222324 30%, #5ce4ee 50%), /* Sky gradient */
  linear-gradient(to bottom, #262829 50%, #686262 100%); /* Road gradient */ 
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content span {
  font-weight: bold;
  position: relative;
  animation: mymove 2s;
  animation-fill-mode: forwards;
}


#m {
  animation-timing-function: linear;
}

#e {
  animation-timing-function: ease;
}

#l {
  animation-timing-function: ease-in;
}

#c {
  animation-timing-function: ease-out;
}

#o {
  animation-timing-function: ease-in-out;
}

#m {
  animation-timing-function: ease-in;
}

#e {
  animation-timing-function: ease-in-out;
}

#heart {

  animation-timing-function: ease-out;
}

@keyframes mymove {
  from {
    bottom: 300px;
  }

  to {
    bottom: 0px;
  }
}

.content h1 {

  font-size: 15rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #01442a;
}

.content i {
  font-size: 20rem;
  color: #610712;
  position: relative;
}

/* ===truck-medical-start=== */

.road i {
  font-size: 27rem;
  color: #38050d;
  position: relative;
  animation: track-move 5s linear infinite;
  animation-fill-mode: forwards;
  animation-duration: 4s;
}

@keyframes track-move {
  from {
    right: 700px;
  }

  to {
    right: 0px;
  }
} 
/* ---end--- */ 
/*=========navbar-brand======  */
.navbar-brand img {
  height: auto;
  width: 100%;
}

.nav-item {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  color: rgb(4, 94, 65);

}

/* =======end===== */
/*=====slider images =====*/
.Home_Slider img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.slick-dots li button:before {
  font-size: 23px;
  color: #f7f6f6;
  opacity: 1;
  z-index: 99;
}

.slick-dots {
  bottom: 10px;
  /*===== Adjust position of dots (optional) ==*/
}



/* ====end=== */
/* =====About-section==== */
.About-section {
  padding: 15px;
}

.About-section img {
  height: 100%;
  width: auto;
}

.About-section h3 {
  font-size: 45px;
  font-weight: 700;
  text-align: start;
  height: 90px;
  width: auto;
  color: #090358;
}

/* -----About_side---- */
.About_side {
  position: relative;
  animation: About_side 10s  ease-in-out;
  animation-fill-mode: forwards;
  animation-duration: 4s;
}

@keyframes About_side {
  from {
    right: 700px;
  }

  to {
    right: 0px;
  }
}

.Image_side{
  position: relative;
  animation: Image_side 10s  ease-in-out;
  animation-fill-mode: forwards;
  animation-duration: 4s;
}

@keyframes Image_side {
  from {
    left: 500px;
  }

  to {
    left: 0px;
  }
}
/* ----end--- */
/* ===end==== */

/* ======Medicare_images==== */
.Medicare_images {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 20px;
  margin: 15px;
}

/* ====end==== */

/*=====grid-item==== */
.grid-side img {
  height: auto;
  width: 100%;
  text-align: top;
  background-attachment: fixed;
  transition: transform 2s ease-in-out, filter 2s ease-in-out;
}


.grid-side img:hover {
  text-align: top;
  cursor: progress;
  z-index: 99;
  transform: translateY(50%);
  filter: grayscale(100%) brightness(50%);
}

/* =====end==== */
.Medicare_card {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  padding: 20px;
  margin: 10px;

}

/* =====card==== */
.card {
  height: auto;
  width: 100%;
}

.card img {
  height: auto;
  width: 100%;
}


/* ==end=== */
/* =====icon== */
.fa-phone {
  background: #ebe3e4;
  color: #041647;
  font-size: 16px;
  padding: 7px;
  border-radius: 100%;
  margin: 5px;
  border: 1px #610712 dotted;
  transition: transform 2s;
}


.fa-envelope {
  background: #ebe3e4;
  color: #a7210a;
  font-size: 16px;
  padding: 7px;
  border-radius: 100%;
  margin: 5px;
  border: 1px #610712 dotted;

  transition: transform 2s;
}

.fa-facebook {
  background: #ebe3e4;
  color: #090358;
  font-size: 16px;
  padding: 7px;
  border-radius: 100%;
  margin: 5px;
  border: 1px #610712 dotted;

  transition: transform 2s;
}

.fa-twitter {

  background: #ebe3e4;
  color: #03011d;
  font-size: 16px;
  padding: 7px;
  border-radius: 100%;
  margin: 5px;
  border: 1px #610712 dotted;

  transition: transform 2s;
}

.fa-whatsapp {

  background: #ebe3e4;
  color: #05a74e;
  font-size: 16px;
  padding: 7px;
  border-radius: 100%;
  margin: 5px;
  border: 1px #610712 dotted;

  transition: transform 2s;

}

.fa-instagram {

  background: #ebe3e4;
  color: #8a0574;
  font-size: 16px;
  padding: 7px;
  border-radius: 100%;
  margin: 5px;
  border: 1px #610712 dotted;

  transition: transform 2s;
}

.fa-envelope:hover,
.fa-facebook:hover,
.fa-instagram:hover,
.fa-phone:hover,
.fa-twitter:hover,
.fa-whatsapp:hover {
  color: #383434;
  transform: rotate(-360deg);
}


/* ===en=== */

/* -----stricker_add------ */
.stricker_add {
  background: #07855ba6;
  height: 300px;
  width: auto;
  position: relative;
  top: -70px;
}

/* ---end---- */
/* ------btn---- */
.button {
  color: #ebe3e4fd;
  background: #7a1f2a;
  padding: 12px 30px 12px 30px;
  font-size: medium;
  font-weight: 600;
  text-align: center;
  border: 1px dotted #ebe3e4ea;
  text-decoration: none;
  transition: color 1s, background 1s, border 1s;
}

.button:hover {
  color: #7a1f2a;
  background: #ebe3e4ea;
  border: 1px dotted #b4404e;
  transition-delay: 1s;
}

/* ---end--- */

/* --------services------ */
.services {
  height: 550px;
  width: auto;
  background: url("../src/assets/images/slider_2.jpg");
  background-size: cover;
  background-attachment: fixed;

}

.icon_set {
  text-align: center;
  color: #f7f6f6;
  font-size:4rem;
  position: relative;
  top: 5%;
  transition: filter 2s ease-in-out, transform 2s;

}

.icon_set:hover { 
  color: #7a2831;
  transform: rotate(360deg);
}

/* --services-row-----*/
.services .row {
  background: #2b030893;
  height: 550px;
  width: auto;
}
 
/* -----end---- */
/* ======Add_extention===== */
.Add_extention {
  height: 500px;
  width: auto;
  background: url("../src/assets/images/slider_4.jpg");
  background-size: cover;
  background-attachment: fixed;

}

.Add_extention .row {
  background: #5e040e9d;
  height: 500px;
  width: auto;
}

/* =====end==== */

/* =============footer====== */
.footer {
  background: #7a4249;
  text-transform: uppercase;
  height: 500px;
  width: auto;
  color: #ebe3e4;
  padding: 100px;
  text-align: initial;
}

.footer h3 {
  text-align: justify;
  text-align: initial;
  margin-left: 25px;
  margin-bottom: 25px;
}


.footer ul {
  list-style: none;
  text-align: initial;
  font-size: 15px;
  margin-top: 3px;
}

/* ==========end========== */


