 







 /* =============footer====== */

 .grid {
  background: #a38f8f;
  height: 450px;
  width: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 3 equal columns */
  grid-gap: 10px; /* Space between grid items */
}

.grid-item { 
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
}
